<h3><%= @article.title %></h3>
<p><%= @article.content %></p>

<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="title">
    <input type="text" name="content">
    <input type='submit' id='submit'>
</form>